.top{
  text-align: left;
  font-style: italic;
  text-decoration-color: #ffffff;
  background-image: url("../images/image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.top h1{
  padding: 20px;
  color: white;
  font-size: 100px;
}
.container{
  background: url("../images/dice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  height: 100vh;
}
.rolldice{
  padding-top: 5%;
}
.player {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#players {
  text-align: center;
}
.player {
    font-size: 1.2em;
    padding: 5px;
    border: 4px solid #000000;
    border-radius: 10px;
}

#roll .btn {
    color: #fff;
    background: #000000;
    margin-left: -15px;
}

#end-turn .btn {
    color: #fff;
    background: #000000;
    margin-left: px;
}
